
body {
	font-family: verdana, arial, helvetica;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
}
td {
	font-size: 11px;
}
a {
	color: #616078;
}

div.err {
	border: 1px solid #CCCCCC;
	padding: 3px;
	color: #FFFFFF;
	margin: 3px;
	background-color: #F1413C;
}

div.notice {
	padding: 3px;
	border: 1px solid #CCCCCC;
	background-color: #C6F168;
	color: #252E14;
	margin: 3px;
}
tr.row1 { background-color: #ECECEC; }
tr.row2 { background-color: #FFFFFF; }

#layout {
	height: 100%;
	background-color: #FFFFFF;
}
#nav_cell { 
	height: 15px; 
	background-color: #4282C4;
}
#nav_cell a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
#nav_cell a:hover { text-decoration: underline; }
#nav_cell ul { height: 10px; }
#nav_cell li {
	display: inline;
	list-style-type: none;
	padding: 5px;
	border: 1px solid #4282C4;
	background-color: #4282C4;
}

#bg_left {
	background-image: url('/inc/img/bgl.gif');
	background-repeat: repeat-y;
	width: 8px;
}
#bg_right {
	background-image: url('/inc/img/bgr.gif'); 
	background-repeat: repeat-y;
	width: 8px;
}

#footer {
	background-color: #C4C9A7;
	text-align: center;
	height: 20px;
}

.title {
	margin-top: 0px;
	margin-bottom: 2px;
	color: #B86F09;
}
#search_cell input {
	font-size: 9px;
}

//----------------
table.cal_tbl {
	border-collapse: collapse;
}
table.cal_tbl td {
	height: 30px;
	width: 30px;
	padding: 3px;
	border: 1px solid #CCCCCC;
}
table.cal_tbl td.cal_day_abbr {
	background-color: #CCCCCC;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
table.cal_tbl td.cal_day {
}
table.cal_tbl td.cal_sel_day {
	background-color: #5181C1;
	border: 1px solid #5181C1;;
	color: #FFFFFF;
}
table.cal_tbl td.cal_sel_day a {
	color: #FFFFFF;
}
table.cal_tbl td.cal_nday {
	background-color: #EEEEEE;
}
table.cal_tbl td.cal_nav {
	border: 0px;
	height: 9px;
	padding: 2px;
}
table.cal_tbl td.cal_nav a {
	font-size: 10px;
	text-decoration: none;
}
table.cal_tbl td.cal_nav a:hover {
	text-decoration: underline;
}
//----------------
table.event_comments { }
table.event_comments td {
	padding: 4 4 4 13;
}
table.event_comments td span.comment { font-size: 12px; } 
table.event_comments td span.meta { font-size: 10px; color: #6C6C6C; } 

.blog_post td.title a {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	color: #B86F09;
}
.blog_post td.content {
	padding-left: 5px;
}
.blog_post td.byline {
	padding-left: 5px;
	padding-top: 3px;
	font-size: 10px;
	color: #A2A2A2;
}
.blog_post td a {
	text-decoration: none;
}
.blog_post td a:hover {
	text-decoration: underline;
}
.blog_post td a.comments_link {
	color: #B86F09;
	font-weight: bold;
	font-size: 11px;
}
span.comments_title {
	font-size: 13px;
	font-weight: bold;
	color: #5181C1;
}

table.blog_comment_tbl {
	width: 400px;
}
table.blog_comment_tbl td {
	padding: 3px;
}
table.blog_comment_tbl td span.title {
	font-size: 13px;
	font-weight: bold;
}
table.blog_comment_tbl td span.byline {
	font-size: 10px;
	color: #A2A2A2;
}

