/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* Text */
body{font:13px/1.5 Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif}a:focus{outline:1px dotted invert}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:19px}h4{font-size:17px}h5{font-size:15px}h6{font-size:13px}ol{list-style:decimal}ul{list-style:square}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}

/* Layout */
html, body {
  height: 100%;
}

html {
  /* Turn on scroll bar */
  overflow-y: none;
}

#form {
	float: left;
	margin-left: 200px;
	padding: 10px;
}

#picture {
	position: fixed;
	width: 150px;
	height: 150px;
	padding: 10px;
	background-color: #fff;
	border: 1px dotted #ccc;
}

#picture-frame {
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
}

#picture-frame img {
	position: relative;
	top: 50%;
}

#picture-overlay {
	position: absolute;
	z-index: 100;
	width: 150px;
	height: 150px;
	background-image: url('/inc/img/loading.gif');
	background-repeat: no-repeat;
	background-position: center;
}
