    <div id="ftr">
      <div class="container_12">
        <div class="grid_6">
          <a href="http://joind.in/event">Events</a> | 
          <a href="http://joind.in/talk">Talks</a> | 
          <a href="http://joind.in/search">Search</a> | 
          <a href="http://joind.in/about">About</a> | 
          <a href="http://joind.in/help">Help</a> |
          <a href="http://joind.in/blog">Blog</a> | 
          <a href="http://joind.in/api">API</a> | 
          <a href="http://joind.in/about/contact">Contact</a>
        </div>

        <div class="grid_6 rgt">
          <a href="http://www.combell.com/en/servers/cloud-server" title=
          "Cloud servers &amp; cloud hosting">Cloud server</a> <a href=
          "http://www.combell.com/en" title="Hosting &amp; webhosting">hosting</a> by
          Combell <a href="http://www.combell.com/en" title=
          "Cloud hosting Combell"><img src="inc/img/LOGO-COMBELL_small.gif" border="0"
          style="vertical-align:text-bottom;" alt="Combell" height="22" width="80" /></a>
          &nbsp;&nbsp;&nbsp;&nbsp; &copy; Joind.in 2012
        </div>

        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>