<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr" lang="en">
<head>
  <title>{{title}} - Joind.in</title>
  <link media="all" rel="stylesheet" type="text/css" href="inc/css/site.css" />
  <link media="all" rel="stylesheet" type="text/css" href="inc/css/devguide.css" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <script type="text/javascript" src="inc/js/jquery.js"></script>
  <script type="text/javascript" src="inc/js/jquery.pause.js"></script>
  <script type="text/javascript" src="inc/js/jquery-ui.js"></script>
  <script type="text/javascript" src="inc/js/site.js" async=""></script>
  <script type="text/javascript" src="inc/js/notifications.js" async=""></script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

  <body id="page-home">
    <div id="hd">
      <div class="container_12 top">
        <div class="grid_12">
          <div class="usr">
            <div class="wrapper">
              <h3><a href="http://joind.in">Main Site</a></h3> - 
              <h3><a href="http://github.com/joindin/">GitHub</a></h3> - 
              <h3><a href="http://joindin.jira.com/">Bug Tracker</a></h3>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="container_12 nav">
        <div class="grid_3 logo">
          <a href="./">
            <img src="inc/img/logo.png" border="0" alt="Joind.in Logo" height="60" width="200" />
          </a>
        </div>
        <div class="grid_9 menu">
          <ul>
            <li><a href="gettingstarted.html">Getting Started</a></li>
            <li><a href="faq.html">F.A.Qs</a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>