#map {
    height: 200px;
    width: 350px;
}

.desc-normal {
    float: left;
    width: 235px;
    padding: 0;
    overflow-x: hidden;
    margin: 0;
}

#desc-map {
    float: right;
}

/* Mobile */
@media screen and (max-width: 600px) {
    #map {width: auto;}
    .desc-normal {float: none; width: auto;}
    #desc-map {float: none;}
}