#map {
	height: 100px;
	width: 79%;
	float: right;
}

div.title {
	margin-top: 10px;
	clear: both;
}

div.image-container {
	width: 20%;
	float: left;
}

div.image-container .img {
	margin: 0 auto;
	float: none;
}

#ctn .main .detail .header div.image-container .img {
	margin: 0 auto;
	float: none;
}
